<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item1</h2>
        <img class="icon collapsible__chevron" src="/images/chevron.svg" alt="">
    </header>
    <div class="collapsible__content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, culpa.
    </div>
</div>


<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item1</h2>
        <img class="icon collapsible__chevron" src="/images/chevron.svg" alt="">
    </header>
    <div class="collapsible__content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, culpa.
    </div>
</div>