<footer class="block block--dark footer__block">

    <div class="continer grid footer_sections">

        <section class="collapsible  footer_section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer__heading">PRODUCTS</h2>
                <img class="icon collapsible__chevron" src="/images/chevron.svg" alt="">
            </header>
            <div class="collapsible__content footer__content">
                <ul class="list">
                    <li class="list__item">WordPress Hosting
                    </li>
                    <li class="list__item">Free Automated WordPress
                    </li>
                    <li class="list__item">Migrations</li>
                    <li class="list__item">Domain Names
                    </li>
                    <li class="list__item">Monthly Web Hosting
                    </li>
                </ul>
            </div>
        </section>


        <section class="collapsible  footer_section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer__heading">COMPANY</h2>
                <img class="icon collapsible__chevron" src="/images/chevron.svg" alt="">
            </header>
            <div class="collapsible__content">
                <ul class="list">
                    <li class="list__item">About</li>
                    <li class="list__item">Affiliates</li>
                    <li class="list__item">Blog</li>
                    <li class="list__item">Careers</li>
                    <li class="list__item">Community</li>
                    <li class="list__item">News</li>
                    <li class="list__item">Green Hosting</li>
                </ul>
            </div>
        </section>

        <section class="collapsible  footer_section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer__heading">SUPPORT</h2>
                <img class="icon collapsible__chevron" src="/images/chevron.svg" alt="">
            </header>
            <div class="collapsible__content">
                <ul class="list">
                    <li class="list__item">Contact</li>
                    <li class="list__item">Knowledge Base</li>
                    <li class="list__item">Forums</li>
                    <li class="list__item">System Status</li>
                    <li class="list__item">Web Hosting</li>
                    <li class="list__item">DreamCompute</li>
                </ul>
            </div>
        </section>


        <section class="collapsible  footer_section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer__heading">DOMAINS</h2>
                <img class="icon collapsible__chevron" src="/images/chevron.svg" alt="">
            </header>
            <div class="collapsible__content">
                <ul class="list">
                    <li class="list__item">Domain Checker</li>
                    <li class="list__item">Domain Transfer</li>
                    <li class="list__item">Free Domain</li>
                    <li class="list__item">XYZ Domain</li>
                    <li class="list__item">Cheap SSL Certificate</li>
                </ul>
            </div>
        </section>
        <section class="footer__brand">
            <img src="/images/logo.svg" alt="">
            <p class="footer__copyright">Copyright &copy; 2022 Asmaa</p>
        </section>
    </div>

</footer>