<div class="card testimonial">
    <div class="grid grid--1x2">
        <div class="testimonial__image">
            <span class="icon-container icon-container--accent">
                <svg class="icon--small icon--white">
                    <use xlink:href="images/sprite.svg#quotes"></use>
                </svg>
            </span>
            <img src="/images/testimonial.jpg" alt="A happy smiliing customer">
        </div>
        <blockquote class="quote">

            <p class="quote_content">Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna
                aliqua. Quis ipsum suspendisse ultrices
                gravida. Risus commodo viverra maecenas
                accumsan lacus vel facilisis</p>


            <footer>
                <div class="media">
                    <div class="media__icon">
                        <svg class="icon icon--praimary">
                            <use xlink:href="images/sprite.svg#line"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <span class="quote__title quote__author">Jhone Lumeo</span>
                        <p class="quote__company">Mosh Company ceo</span>

                    </div>
                </div>
            </footer>



        </blockquote>
    </div>
</div>

<!-- <div class="card testimonial grid grid--1x2">
    
        <header class="card__header "> <img src="/images/testimonial.jpg" alt="">
        </header>
        <div class="card__body">
            <blockquote class="quote">
    
                <p class="quote_content">Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna
                    aliqua. Quis ipsum suspendisse ultrices
                    gravida. Risus commodo viverra maecenas
                    accumsan lacus vel facilisis</p>
    
    
                <footer>
                    <div class="media">
                        <div class="media__icon">
                            <svg class="icon icon--praimary">
                                <use xlink:href="images/sprite.svg#line"></use>
                            </svg>
                        </div>
                        <div class="media__body">
                            <span class="quote__title quote__author">Jhone Lumeo</span>
                            <p class="quote__company">Mosh Company ceo</span>
    
                        </div>
                    </div>
                </footer>
    
    
    
            </blockquote>
        </div>
    </div> -->

<!-- 
    <div class="card testimonial grid">

        <header class="card__header "> <img src="/images/testimonial.jpg" alt="">
        </header>
        <div class="card__body">
            <blockquote class="quote">

                <p class="quote_content">Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna
                    aliqua. Quis ipsum suspendisse ultrices
                    gravida. Risus commodo viverra maecenas
                    accumsan lacus vel facilisis</p>


                <footer>
                    <div class="media">
                        <div class="media__icon">
                            <svg class="icon icon--praimary">
                                <use xlink:href="images/sprite.svg#line"></use>
                            </svg>
                        </div>
                        <div class="media__body">
                            <span class="quote__title quote__author">Jhone Lumeo</span>
                            <p class="quote__company">Mosh Company ceo</span>

                        </div>
                    </div>
                </footer>



            </blockquote>
        </div>
    </div> -->